[Desktop Entry]
Name=Deepin Sticky Notes
Name[zh_CN]=Deepin 极简便签
Comment=轻量、低打扰的桌面便签
Exec=deepin-sticky-notes
Icon=deepin-sticky-notes
Terminal=false
Type=Application
Categories=Utility;Office;
StartupWMClass=deepin-sticky-notes
